*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: rgb(16, 66, 175);
    padding: 23px;
    display: flex;
    gap: 50px;
    border: 2px solid rgb(16, 66, 175);
    
}


a{
    color: white;
    text-decoration: none;
    font-family: 20px;
    font-weight: bold;
    font-size: larger;
    text-shadow: 20lvh;
   
}