* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.contact-wrapper {
  background: #b9d7e7;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-card {
  width: 1500px;
  height: 800px;
  background: #ffffff;
  display: flex;
  border-radius: 6px;
  overflow: hidden;
}

/* LEFT SIDE */
.contact-left {
  width: 45%;
  padding: 60px;
}

.contact-left h1 {
  font-size: 52px;
  color: #24415f;
  margin-bottom: 40px;
}

.input-box {
  background: #eef6fb;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: 30px;
  margin-bottom: 20px;
}

.input-box .icon {
  margin-right: 10px;
  opacity: 0.6;
}

.input-box input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 16px;
}

textarea {
  width: 100%;
  height: 120px;
  border: none;
  outline: none;
  resize: none;
  background: #eef6fb;
  border-radius: 25px;
  padding: 20px;
  font-size: 16px;
  margin-bottom: 25px;
}

button {
  background: #02b6d9;
  border: none;
  padding: 15px 45px;
  border-radius: 35px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

/* RIGHT SIDE */
.contact-right {
  width: 55%;
  background: #eef6fb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-right img {
  width: 100%;
  height: auto;
  border: 8px solid #3289a1;
}
