/* 
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #a3befc, #9cb0f9);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */
 *{
    margin: 0;
    padding: 0;
    
 }
.form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0%;
  width: 800px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  margin: auto;
  
}

.general-info,
.contact-details {
  flex: 1;
  padding: 40px ;
  box-sizing: border-box;
}

.general-info {
  background: #fff;
  color: #333;
}

.contact-details {
  background: #4B39EF;
  color: #fff;
  
}

h2 {
  margin-bottom: 25px;
  font-size: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
}

input[type="text"],
input[type="email"],
select {
  width: 100%;
  padding: 8px 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-right: 8px;
}

a {
  color: #fff;
  text-decoration: underline;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: #fff;
  color: #4B39EF;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  opacity: 0.9;
}

.flex-row {
  display: flex;
  gap: 15px;
 
}

.flex-row > div {
  flex: 1;
}
button:hover {
  opacity: 0.9;
}
